@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

:root {
  /* COLORS */
  --app-bg-color: #a4a4a4;
  --content-bg-color: #4d4d4d;
  --list-element-color: #c5c3c7;
  --list-element-color__border: #b05cff;
  --editor-background: #d39ed9;
  --input-default-bg: #d6d6d6;
  --input-error-bg: #f85b5b;
  --error-message-color: #d40000;

  /* MARGINS */
  --margin-normal: 10px;
  --margin-small: 5px;
  --margin-small__sides: 0px 5px;
  --margin-large__sides: 0px 10px;
  --margin-normal__spacer: 10px 0px;
  --margin-small__spacer: 5px 0px;

  /* BORDERS */
  --border-width__normal: 3px;
  --border-radius__normal: 5px;
  --border-radius__round: 10px;

  /* PADDING */
  --padding-normal: 3px;
  --padding-large: 10px;

  /* INPUT_FIELD_SIZE */
  --input-field-size__normal: 28px;
  --input-field-size__maxwidth: 150px;

  /* SVG_SIZES */
  --svg-size_normal: 30px;
  --svg-size_large: 60px;
  --svg-size_small: 25px;
  --button-size__manage_button: 40px;
  --button-size__manage_button__SMALL: 30px;
  --logo-size: 150px;

  /* FONT*/
  --font-normal: "Noto Sans JP", sans-serif;
  --font-size__large: 20px;

  /* App Width */
  --max-app-width: 800px;
  --max-card-width: 770px;
}
